*{
    margin: 0;
    padding: 0;
    font-family: IBM Plex Mono ExtraLight;
}

body{
    background-color: white;
}

/* <!-- Logo + menu + bouton calculer la moyenne  --> */

.logo_menu_bouton{
    display: flex;
    /* margin-left: 400px; */
    margin-top: 20px;
}

.Logo{
    margin-left: 150px;
}

.menu{
    margin-right: 300px;
    font-size: 90px;
}

/* <!-- premier titre + Image_logo2 + paragraphe --> */

.moyenne-1{
    font-size: 27px;    
}


